*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Reset some default browser styles */
body, h1, h2,h4, p, form, button {
    margin: 0;
    padding: 0;
}

.home_container{
    font-family: Arial, sans-serif;
    /* background-color: rgb(242, 186, 194); */
    background: url(https://tse2.mm.bing.net/th?id=OIP.29EEa_4P0H7KgJ5IcpUDCwHaEK&pid=Api&P=0&h=180);
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; 
    /* color: #333; */
}

.header {
    color: white;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin-bottom: 30px;
    color: rgb(236, 231, 231);
}
.header h4 {
    margin-bottom: 10px;
    color: rgb(236, 231, 231);
}
.form-container {
    text-align: center;
    margin-top: 100px;
}

input[type="file"] {
    padding: 10px;
    margin-bottom: 10px;
    color: rgb(236, 231, 231);
}
.fileButton {
    padding: 50px;
    /* color: #007BFF; */
    background-color: rgb(236, 231, 231);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-right: 10px;
    font-weight: bold;

}
.fileButton span{
    background-color: rgb(18, 108, 205);
    color: white;
    padding: 8px;
    border-radius: 3px;
}
.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(236, 231, 231);
    font-weight: bold;
    color: rgb(18, 108, 205);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    padding: 13px 23px;
    border-radius: 5px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.container{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}
.container i{
    margin-top: 170px;
    font-size: 40px;
}
.container h1{
    text-align: center;
}
.container img{
    width: 250px;
    height: 300px;
}
.container span,h1{
    color: rgb(16, 90, 168);
}